
<section id="home-section">
  <h2>Welcome Fellow SLUites!</h2>
  <p>"Hello fellow SLU adventurers. If you see any interesting creatures be sure to record them and communicate with our community to help us eventually find that swamp thing. We thank you for your service."</p>
</section>

<section class="container" id="creature-section">
</section>

<section id="create-creature">
  <h1>Record Your Find!</h1>

  <form id="creature-form" type="submit" class="container" >
    <input type="text" value="species"></input>
    <input type="text" value="location"></input>
    <input type="text" value="description"></input>
    <button type="submit">Submit</button>
  </form>
</section>


