<h1> Known Creatures: </h1>

<section id="content-section">
<!-- this is plural for finding all -->
  <% @creatures.each do |creature| %>
    <h2><a href="/api/creatures/<%= creature[:id] %>" class="show-link"><%= creature[:name] %></a></h2>
    <h4><%= creature[:desciption] %></h4>
    <h4><%= creature[:location] %></h4>
  <% end %>
</section>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">New Creature</h4>
      </div>
      <div class="modal-body">
      <!-- this is singular for creating new  -->
        <form id="new-creature" action="/api/creatures" method="POST" role="form">
          <div class = "form-group">
            <label>Name</label>
            <input class="creature-name" placeholder="name here"></input><br>
            <label>Description</label>
            <input class="creature-description" placeholder="description here"></input><br>
            <label>Location</label>
            <input class="creature-location" placeholder="location here" class="creature-name"></input>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-default save-new">Save changes</button>
      </div>
    </div>
  </div>
</div>
