<h1>Lyrics</h1>

<div class="post col-md-10">
<% @lyrics.each do |lyric| %>
    <h2><%= link_to lyric.song %></h2>
<% end %>
</div>
<div class="newpost col-md-12">
<h2> Add Lyrics </h2>
        <%= render 'lyrics/create' %>
 </div>
 